# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

homework1/hw1

homework2/hw2

lab3-1/writer

lab4/reader
lab4/writer

lab5/lab5

lab6/examples/makesem
lab6/examples/rmsem
lab6/examples/doodle
lab6/examples/race
lab6/examples/mutex
lab6/examples/pipe
lab6/examples/select
lab6/examples/shm_server
lab6/examples/shm_client
lab6/server
lab6/client

lab7/examples/sig_catch
lab7/examples/sig_count
lab7/examples/timer

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
